@page "/Admin/ProcessRoleList"

@attribute [Authorize(Roles="Admin, SuperAdmin")]
@inject IJSRuntime js
@inject IHttpContextAccessor HttpContextAccessor

<h1 class="ml-2">Process Roles</h1>
<div class="container-fluid">
    <div class="alert alert-@AlertType alert-dismissable text-center" role="alert" hidden="@HideAlert">
        <button type = "button" class = "close" data-dismiss="alert" @onclick="@(() => resetalert())" aria-hidden = "true">
            ×
        </button>
      @AlertMessage
    </div>
    <EditForm Model="@role"  OnValidSubmit="@SaveGeneralInformation" class="">
    <DataAnnotationsValidator/>
    <ValidationSummary/>
        <div class="form-group card">
            <div class="card-header">
                <h3 class="mb-3 ">New Role</h3>
            </div>
            <div class="card-body">
                <div class="form-row">
                    <InputText @bind-Value="role.CreatedBy" hidden class="form-control" placeholder="Created By"/>
                    <InputDate @bind-Value="role.Created" hidden class="form-control" placeholder="Date Created"/>                                
                </div>
                 <div class="form-row">                             
                    <div class="form-group col-sm-12 col-md-4">
                        <InputText @bind-Value="role.RoleName" class="form-control" placeholder="Role Name"/>
                    </div>                    
                </div>               
            </div> 
            <div class="card-footer">
                <button type="submit" class="btn btn-success mr-2 btn-sm">Save</button>
                <button type="button" class="btn btn-danger btn-sm" @onclick="@(() => Clear())">Cancel</button>
            </div>
        </div>
    </EditForm>
    <h3 class="mb-3 ">Process Role List</h3>
    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>Role Name</th>
                  <AuthorizeView Roles="Admin, SuperAdmin">
                    <th colspan="2">Actions</th>
                  </AuthorizeView>
            </tr>
        </thead>
        <tbody>
           @if(RoleList == null)
            {
                <tr>
                    <td colspan="2">Loading...</td>
                </tr>
            }
            else if(RoleList.Count() == 0)
            {
                <tr>
                    <td colspan="2">No process roles registered!</td>
                </tr>
            }
            else
            {
                @foreach (var c in RoleList)
                {
                    <tr>
                        <td>@c.RoleName</td>
                        <AuthorizeView Roles="Admin, SuperAdmin">
                            <td>
                                <button class="btn btn-primary btn-sm" @onclick="@(async () => await ToEdit(c.RoleId))">Edit</button>
                                <button class="btn btn-danger btn-sm" @onclick="@(async () => await MarkAsDeleted(c.RoleId))">Delete</button>
                            </td>
                        </AuthorizeView>
                    </tr>    
                }
            }
           
        </tbody>
    </table>
</div>

@code {
    QAD_QMSContext db = new QAD_QMSContext();
    DRoles role = new DRoles();
    public string loggedInUser = string.Empty;
    public IEnumerable<DRoles> RoleList { get; set; }
    public bool HideAlert { get; set; } = true;
    public string AlertMessage { get; set; } = string.Empty;
    public string AlertType { get; set; } = "danger";
    private void resetalert()
    {
        AlertMessage = string.Empty;
        AlertType = "danger";
        HideAlert = true;
    }
    private void AlertShow(string type, string msg)
    {
        AlertMessage = msg;
        AlertType = type;
        HideAlert = false;
    }

    public async Task SaveGeneralInformation()
    {
        try
        {
            role.LastModifiedBy = loggedInUser;
            if(role.RoleId == 0)
            {
                db.DRoles.Add(role);
            }
            else
            {
                role.LastModifiedBy = loggedInUser;
                role.LastModifiedOn = DateTime.Now;
                db.DRoles.Update(role);
            }

            await db.SaveChangesAsync();
            RoleList = await GetRoleList();
            role = new DRoles();
            setUser();
        }
        catch(Exception ex)
        {
            ex.InnerException.ToString();
            ex.Message.ToString();
        }

    }
    protected void Clear()
    {
        role = new DRoles();
    }
    protected override async Task OnInitializedAsync()
    {
        setUser();
        RoleList = await GetRoleList();
    }
    public void setUser()
    {
        role.Created = DateTime.Now;
        var principal = HttpContextAccessor.HttpContext.User;
        loggedInUser = principal.FindFirstValue(ClaimTypes.NameIdentifier).ToString();
        role.CreatedBy = loggedInUser;
    }
    public async Task<IEnumerable<DRoles>> GetRoleList()
    {
        return await db.DRoles.Where(x => x.IsDeleted == false).ToListAsync();
    }
    protected async Task MarkAsDeleted(int id)
    {
        bool confirmed = await js.InvokeAsync<bool>("confirm", "Are you sure?");
        if (confirmed)
        {
            var role = await db.DRoles.FirstOrDefaultAsync(x => x.RoleId == id);
            role.DeletedBy = loggedInUser;
            role.DeletedOn = DateTime.Now;
            role.LastModifiedBy = loggedInUser;
            role.LastModifiedOn = DateTime.Now;
            role.IsDeleted = true;
            db.DRoles.Update(role);
            await db.SaveChangesAsync();
            RoleList = await GetRoleList();
            role = new DRoles();
            setUser();
        }

    }
    protected async Task ToEdit(int id)
    {
        role = await db.DRoles.FirstOrDefaultAsync(x => x.RoleId == id);
    }
}